{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ MEDIA_URL }}{{ post.author.image }}">
        <div class="media-body">
            <div class="article-metadata">
                {% if post.author and post.author.username %}
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author.username }}</a>
                {% else %}
                    <span>Unknown Author</span>
                {% endif %}
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% if post.author.id == user.id %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            {% if post.image %}
              <img src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.title }}" class="img-fluid">
            {% else %}
              <p>No image attached.</p>
            {% endif %}
        </div>
    </article>
{% endblock content %}
